<div class="container pb-4 pt-4">

	<div class="mb-4 text-center">
		<button class="btn btn-primary" data-toggle="modal" data-target="#add-feed">Ajouter un flux</button>
	</div>

	<div class="row rss-feeds">
    <%= render partial: "rss_feeds/all", locals: { rss_feeds: @rss_feeds } %>
	</div>

</div>

<div id="add-feed" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <form class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Ajouter un flux</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
        	<input class="form-control" name="rss_feed[title]" type="text" placeholder="Titre du flux" value="" />
        </div>
        <div class="form-group mb-0">
        	<input class="form-control" name="rss_feed[url]" type="url" placeholder="URL du flux" value="" required="required" />
        	<small class="form-text text-muted">
        		Par exemple:<br />
        		<ul class="mb-0 feed-url-examples">
        			<li><a href="https://web.developpez.com/index/rss">https://web.developpez.com/index/rss</a></li>
        			<li><a href="https://www.lemonde.fr/rss/une.xml">https://www.lemonde.fr/rss/une.xml</a></li>
        			<li><a href="https://www.alsacreations.com/rss/actualites.xml">https://www.alsacreations.com/rss/actualites.xml</a></li>
        		</ul>
        	</small>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Ajouter</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
      </div>
    </form>
  </div>
</div>