<p id="notice"><%= notice %></p>

<h1>Rss Entries</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rss_entries.each do |rss_entry| %>
      <tr>
        <td><%= link_to 'Show', rss_entry %></td>
        <td><%= link_to 'Edit', edit_rss_entry_path(rss_entry) %></td>
        <td><%= link_to 'Destroy', rss_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rss Entry', new_rss_entry_path %>
