<div class="col-md-6 rss-feed" data-id="<%= feed.id %>">
	<div class="card mb-4 shadow-sm">
	  <div class="card-body">
	    <h4 class="card-title mb-0">
	    	<a href="#" class="delete-feed close pull-right">&times;</a>
	    	Les news de <%= feed.title %>
	    </h4>
	  </div>
	  <div class="list-group list-group-flush">
	  	<% entries = feed.rss_entries.page(params[:page].to_i) %>
	    <% entries.each do |entry| %>
	    	<%= render partial: "rss_entries/list", locals: { entry: entry } %>
	    <% end %>

	    <% if entries.length == 0 %>
	      <div class="list-group-item list-group-item-danger">
	      	Pas de news :(
	      </div>
	    <% end %>

	    <%= paginate entries, theme: 'twitter-bootstrap-4', pagination_class: 'mb-0', params: { id: feed.id, action: "show", controller: "rss_feeds"} %>

	  </div>
	</div>
</div>