<!DOCTYPE html>
<html>
  <head>
    <title>Ideematic &mdash; jQuery</title>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <%= yield %>
    <div class="text-center m-2">Rails v.<%= Rails.version %></div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
